__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
.venv
runs/
/test_cases/
**/dist/
*BUILD*
benchmark/
*CHECKPOINT.md
docs/*
*CLAUDE*
DEVELOP.md
*script.sh
*downstream_eval.py
COMPARISON.md